.appbar-container {
    background-color: #fff;
    z-index: 10;
    top: 0;
    position: sticky;
}

.appbar-container .updatedTime {
    display: flex;
    padding-right: 8px;
}

.appbar-container.dark {
    background-color: #000;
}

.indices {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.advanced-declined {
    margin: auto 16px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.advanced-declined-divider {
    border-bottom: 1px solid #c9c9c9;
}