.incometaxContainer {
    width: 1200px;
    margin: auto;
}

.incometaxColumns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.summaryDistribution {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 100%;
}