.section {
    display: flex;
    flex-direction: column;
    border-radius: 0.80rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    padding: 1.5rem;
    gap: 1.5rem;
    margin-top: 2rem;
}